/* GENERALS PARAMETERS ------------------------*/
	
	:root
	{

	/* FONT SIZES ------------------------*/
		--top_title_font_size : 24px ;
		--question_font_size : 12px;
		--response_font_size : 9px;

		--faq_font_family : 'Roboto', sans-serif;

	/* SCREEN SIZES ------------------------*/
		--desktop_min_width : 800px;
		--tablet_max_width : 799px;		
		--tablet_min_width : 375px;
		--smartphone_max_width : 374px;

	/* TEXT COLORS ------------------------*/
		/* PRIMARY ------------------------*/
			--very_dark_desatured_blue: hsl(238, 29%, 16%);
			--soft_red: hsl(14, 88%, 65%);

		/* NEUTRAL ------------------------*/
			--very_dark_grayish_blue: hsl(237, 12%, 33%);
			--dark_grayish_blue: hsl(240, 6%, 50%);

	/* BACKGROUND COLORS ------------------------*/
		--soft_violet: hsl(273, 75%, 66%);
		--soft_blue: hsl(240, 73%, 65%);

	/* DIVIDERS COLORS ------------------------*/
		--light_grayish_blue: hsl(240, 5%, 91%);

	}

/* NODE ELEMENTS CSS ------------------------*/
	
	body
	{
		font-size: var(--question_font_size);
		background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

		width: 100vw;
		height: 100vh;

	}

/* FAQ ------------------------*/	
	.faq
	{	

		display: flex;
	}

	.faq--layout
	{
		width: var(--faq_width);
		height: var(--faq_height);

		background-color: var(--faq_background_color);

		border-radius: var(--faq_border_radius);

		box-shadow: var(--faq_box_shadow);

		margin-right: auto;
		margin-left : auto;
		margin-top: var(--faq_margin_top);
	}

/* ILLUSTRATION ------------------------*/
	
	.illustration
	{
		display: flex;
		align-items: center;

		position: relative;
	}

	.illustration--layout
	{
		width: var(--illustration_width);
		background-image: var(--illustration_background_image);
	}

	.illustration__illustration-box
	{
		position: absolute;
		left: 82px;
	}